<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VISION</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.ico">

    <!-- build:baseCss -->
    <link rel="stylesheet" href="/static/assets/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->

    {% block link %}
    {% end %}
    <link rel="stylesheet" href="/static/app/base/css/base.css">

    <script type="text/javascript" src="/static/assets/jquery/dist/jquery.min.js"></script>
    {% block app_base_script_link %}
    {% end %}

    {% block javascript_in_head %}
    {% end %}

    {% block javascript %}
    {% end %}

    {% block style %}
    {% end %}
</head>
<body>
{% block navbar %}{% end %}
<div class="">
    {% block body %}{% end %}
    <div class=""></div>
</div>
{% block footer %}
<div class="">
    Copyright© 2017 VISION. All Rights Reserved.
</div>
{% end %}

<!-- build:base_js -->
<script type="application/javascript" src="/static/assets/bootstrap/dist/js/bootstrap.min.js" defer></script>
<!-- endbuild -->

{% block javascript_in_body %}
{% end %}
</body>
</html>