<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VISION</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.ico">

    <!-- build:baseCss -->
    <link rel="stylesheet" href="/static/assets/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="/static/app/base/css/base.css">
    <link rel="stylesheet" href="/static/app/base/css/theme/default.css">

    <script type="text/javascript" src="/static/assets/jquery/dist/jquery.min.js"></script>
</head>
<body>

<div class="">
    Copyright© 2017 VISION. All Rights Reserved.
</div>

<!-- build:base_js -->
<script type="application/javascript" src="/static/assets/bootstrap/dist/js/bootstrap.min.js" defer></script>
<!-- endbuild -->

</body>
</html>